.eventsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 355px;
  height: 551px;
  margin: 10px;
  background-color: rgb(245, 248, 248);
}

#event {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 350px;
  margin-top: 2px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: #3ca6d5;
}

#eventName {
  display: flex;
  width: 320px;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
  color: rgb(246, 242, 242);
}

#event div {
  display: flex;
  justify-content: space-between;
}

#eventDate {
  display: flex;
  width: 150px;
  height: 25px;
  font-weight: 600;
  margin-left: 5px;
  color: rgb(246, 242, 242);
}

#eventCreator {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 25px;
  margin-right: 5px;
  color: rgb(246, 242, 242);
}

#btnCreateNewEvent {
  width: 45px;
  margin-top: 7px;
  margin-left: 305px;
  border: 1px solid #1f69ec;
  border-radius: 4px;
  background-color: #1f69ec;
  color: rgb(246, 242, 242);
}

#btnCreateEvent {
  margin-top: 25px;
  width: 256px;
  height: 30px;
  border: 1px solid rgb(113, 113, 113);
  border-radius: 4px;
  background-color: #1f69ec;
  color: rgb(254, 249, 249);
  font-weight: 500;
}
