.eventCard {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 300px;
  width: 330px;
}

.eventCardDiv {
  display: flex;
}

#eventCardLabel {
  display: flex;
  width: 100px;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
  color: black;
}

#eventCardInfo {
  display: flex;
  width: 220px;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
  color: black;
}

#eventCardInfoMembers {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
  color: black;
}

#eventCardInvitMembersbtn {
  width: 92px;
  margin-top: 4px;
  margin-left: 0px;
  border: 1px solid rgb(0, 163, 0);
  border-radius: 4px;
  background-color: rgb(0, 163, 0);
  color: rgb(246, 242, 242);
}

#eventCardBtnBack {
  width: 45px;
  margin-top: 250px;
  margin-left: 5px;
  border: 1px solid #1f69ec;
  border-radius: 4px;
  background-color: #1f69ec;
  color: rgb(246, 242, 242);
}

#eventCardBtnDelete {
  width: 45px;
  margin-top: 250px;
  margin-left: 230px;
  border: 1px solid red;
  border-radius: 4px;
  background-color: red;
  color: rgb(246, 242, 242);
}

#friendsItem {
  display: list-item;
}
