.signIn-form {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
  margin-top: 42px;
}

#lockOut {
  scale: 0.8;
}

#signTitle {
  font-size: 18px;
  margin-bottom: 15px;
}

.signIn-form .textError {
  margin-top: 5px;
  padding-left: 3px;
  font-size: 14px;
  color: rgb(203, 0, 0);
}
