.signIn-form {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
  margin-top: 30px;
}

#lockOut {
  scale: 0.8;
}

#signTitle {
  font-size: 18px;
  margin-bottom: 15px;
}
/*
#signIn-input {
  display: flex;
  width: 250px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid rgb(113, 113, 113);
  margin-top: 5px;
  font-size: 15px;
}

.signIn-form p {
  position: relative;
  margin-top: 1px;
  left: -47px;
  display: block;
  font-weight: 600;
  color: rgb(59, 59, 59);
  text-align: left;
  font-size: 15px;
}

#forgotPassword {
  display: flex;
  margin-right: -175px;
  padding-right: 0;
  border: none;
  background: none;
  color: #1f69ec;
  text-decoration: underline;
  text-transform: uppercase;
}

#signIn-submit {
  display: flex;
  width: 256px;
  height: 30px;
  border-radius: 4px;
  padding: 0;
  border: 1px solid rgb(113, 113, 113);
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 5px;
  background-color: #1f69ec;
  color: rgb(254, 249, 249);
  font-weight: 500;
}

#inputError {
  display: flex;
  width: 250px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid rgb(203, 0, 0);
  margin-top: 5px;
  font-size: 15px;
  color: red;
}
*/
.signIn-form .textError {
  margin-top: 5px;
  padding-left: 3px;
  font-size: 14px;
  color: rgb(203, 0, 0);
}
